{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if request.user.profile_image.name == 'profile_image/default_profile_image.jpg' %}
            <img src="{{'/static/profile_image/default_profile_image.jpg'}}" style="max-width: 100px;">
        {% else %}
            <img src="{{'/static/profile_image/default_profile_image.jpg'}}" style="max-width: 100px;">
        {% endif %}
        <br>
        {{form.username.label_tag}}<div class="col-sm-10">{{form.username}}</div><br>
        {{form.age.label_tag}}<div class="col-sm-10">{{form.age}}</div>
        {{form.profile_image.label_tag}}<div class="col-sm-10">{{form.profile_image}}</div>
        <br>
        <div class="d-flex gap-2">
            <button class="btn btn-primary" type="submit">Save</button>
            <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
        </div>
        <br>
        <!-- displaying all kinds of errors (field, non-field) -->
        {% if form.errors %}
        <div class="alert alert-danger">
            <ul class="error-list">
            {% for errors in form.errors.values %}
                {% for error in errors %}
                    <p><li>{{error}}</li></p>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>    
    </form>
</div>
    
{% endif %}
{% endblock %}