{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h2>Registration</h2>
    <form method="post"> {% csrf_token %}
    <div class="mb-3">{{form.username.label_tag}}{{form.username}}</div>
    <div class="mb-3">{{form.age.label_tag}}{{form.age}}</div>
    <div class="mb-3">{{form.password1.label_tag}}{{form.password1}}</div>
    <div class="mb-3">{{form.password2.label_tag}}{{form.password2}}</div>
    <div class="mb-3"><button type="submit">Register!</button></div>
</form>
</div>
{% endblock %}