{% extends 'base.html' %}
{% block title %} weather app {% endblock %}
{% block head %} <h4 class="text-center mb-4">Wellcome to Weather app</h4> {% endblock %}
{% block body %}
 <form method="post" class="d-flex justify-content-center mt-4">
    {%csrf_token %}
    <input type="text" name="city" class="form-control w-50 me-2" placeholder="Enter city: e.g. Los Angeles" required>
    <button type="submit" class="btn btn-primary">Look Up!</button>
</form><br>
<!-- a little bit of unnecessary complexity here -->
{% if city and not error %}
    <div class="d-flex justify-content-center mt-4">
        <p>Weather results for <strong> {{city}} </strong>: <br>
        temperature: {{temperature}}°C - ({{weather}})</p>
    </div>
{% endif %}

<div class="d-flex justify-content-center mt-4">
    {% if error %}
        {{ error }} {{ city }}
    {% endif %}
</div>
{% endblock %}